@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply p-2 border rounded-md hover:border-zinc-400 text-zinc-900;
}
.button {
  @apply bg-zinc-900 text-white p-2 rounded-md hover:bg-zinc-600;
}

.buttonGreen {
  @apply bg-green-600 text-white p-2 rounded-md hover:bg-green-400;
}

.buttonTeal {
  @apply bg-teal-500 text-white p-2 rounded-md hover:bg-teal-300;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6.1rem);
}